<nav class="list-none flex items-center gap-4 text-lg font-medium">
    <li class="cursor-pointer">Home</li>
    <li class="cursor-pointer">Seller</li>
    <li class="cursor-pointer">Login</li>
    <li class="cursor-pointer relative">
        <i class="fa-solid fa-cart-shopping text-xl"></i>
        <span class="absolute bg-neutral-100 text-blue-900 text-sm font-bold rounded-full p-1 h-6 w-6 flex items-center justify-center shadow-xl -mt-10 ml-5">
            <p>20</p>
        </span>
    </li>
</nav>