<nav class="list-none flex items-center gap-4 text-lg font-medium">
    <li 
        class="cursor-pointer bg-white rounded-sm text-blue-900 text-base font-semibold pt-[2px] pb-[3px] px-2 hover:bg-[orangered] hover:text-white"
        routerLink="/sign-in"
    >
        Sign In
    </li>
    <li 
        class="cursor-pointer bg-white rounded-sm text-blue-900 text-base font-semibold pt-[2px] pb-[3px] px-2 hover:bg-[orangered] hover:text-white"
        routerLink="/sign-up"
    >
        Sign Up
    </li>
    <li class="cursor-pointer relative">
        <i class="fa-solid fa-cart-shopping text-2xl text-white"></i>
        <span class="absolute bg-white text-blue-900 text-sm font-bold rounded-full p-1 h-6 w-6 flex items-center justify-center shadow-xl -mt-10 ml-5">
            <p>20</p>
        </span>
    </li>
</nav>